/*	Sizes
==============================================================*/
// Medium screen / desktop
@container-desktop: ((780px + @grid-gutter-width));
// Large screen / wide desktop
@container-lg-desktop: ((780px + @grid-gutter-width));

/*	Colors
==============================================================*/
@navbar-default-bg: #fff;

@post-bg: #fff;
@post-border: #ccc;

@reddit-orange: #ff8b60;
@reddit-blue: #9494ff;

@brand-primary: #ea6446;
@text-color: #333;

/*	Details
==============================================================*/
@border-radius: 2px;
@border-radius-base: 2px;

/*	Typography
==============================================================*/
@font-family: 'Droid Sans', sans-serif;